.custom-nav-bar{
	background: #660022;
	font-size: 18px;
}
.circle-img{
	border-radius: 50%;
	height: 48px;
}

.navbar-default .navbar-nav li a{
	color:white;

}
.navbar-default .navbar-nav>.active{
	color: #A1544B;
	background: white;

}