.custom-nav-bar{
	background: white;
}
.img{
	border-radius: 50%;
	height: 48px;
}
.ribbon {
	position: fixed !important;
	right: 50px;
	top: 30px;
	overflow: hidden;
	z-index: 200;
}

}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.profile-image{
	position: relative;
	top: 179px;
	right: -10px;
	border: 10px #f5f5f5 solid;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
