html {
	height:100%;

	
}
.blue{background-color: blue}
.custom-nav-bar{
	
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}


.ribbon {
	position: fixed !important;
	right: 50px;
	top: 51px;
	overflow: hidden;
	z-index: 200;


}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.profile-image{
	position: relative;
	top:160px;
	padding: -5px;
	border:2px solid #fff;
	
}


.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	color: red;
}

.navbar .navbar-collapse {
	text-align: center;

}

.title{
	font-family: 'Akronim', cursive;
	color:  #800000; 
	font-size: 6em;
	margin-left: 200px;
margin-top: 115px;
}
.title2{
	
	
	font-family: 'Dancing Script', cursive;
	margin-left: 200px;
}
.title3{
	font-family: 'Stalemate', cursive;
	margin-left: 200px;
}
h1{
	top: 300px;
	right: -55px;
}
.center{
	top:400px;
	text-align: center;
	color: 370013;
	font-family: 'Ewert', cursive;
	
}
.center a {
	padding-right: 3px;
	padding-left: 3px;

}
.social-logos{
	font-size: 3em;
background-color: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.social-logos background-image:hover{
	transform: scale(1.2);
	overflow: hidden;

}
.nav.navbar-nav<li.active>a{
	color:#D38181;
}


.marginTop-projects{
	margin-top: 60px;	

}
#favourite-btn,#current-btn{
	font-family: 'Ewert', cursive;	
}
.row .myimage{
	position: fixed;
	left: 800px;
	top: 199px;
	max-height: 60%;

}
.navbar-default .navbar-nav>li>a{
	color: #fff;

}
html .sqs-block.sqs-block-html .sqs-block-content {
	cursor: auto;
}
.sqs-block-html .sqs-block-content {
	outline: none;
}
div {
	display: block;
}

body {
	margin: 0;
	font-size: 13px;
	line-height: 1.6em;

}

.about-me{
	margin-top :100px;
	font-size: 1.3em;
}
#favourite-btn img:hover,#current-btn img:hover{
	transform: scale(1.2);
	overflow: hidden;
	cursor: pointer;

}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
	font-family: 'Fredericka the Great', cursive;

	color: black;
	border-right: .1em solid black;
	width: calc(0.55em * 14); 
	width: 44ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8s steps(14, end),
	blink-caret .5s step-end infinite alternate;
}
.my-name{
	text-align: center;
	position: relative;
	top:90px;
	font-family: 'Economica', sans-serif;

}
.row {

    margin-right: 55px;
    margin-left: 130px;

}
.inline{display: inline-block;}
.mobile_responsive{
	font-family: 'Courgette', cursive;
	font-size: 20px;


}
#favourite-btn img:hover,#current-btn img:hover{
	transform: scale(1.2);
	overflow: hidden;


}
.marginTop{
	font-family: 'Prociono', serif;
	color: #0c0c0c;
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
	font-family: 'Fredericka the Great', cursive;

	color: black;
	border-right: .1em solid black;
	width: calc(0.55em * 14); 
	width: 44ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 8s steps(14, end),
	blink-caret .5s step-end infinite alternate;
}
#repos a,#favourite-repos a{
	font-size: 25px;
	color:#F8226A;
	font-family: 'Fredericka the Great', cursive;
}
@keyframes spin {
	from {transform:rotate(0deg);
	}
	to {transform:rotate(360deg);}
}
.social-logos:hover{
	animation: spin;
	animation-duration:1s;
	transform: scale(1.5);
}
.profile-images{

    border-radius: 8px;
}
.photo{

	background: url(../images/photo.jpeg) no-repeat center top fixed;
	background-size: cover;
}
